.contact {
  padding: 8.6rem 0;
  color: #fff;
  background-color: #111;

  &__form-container {
    width: 100%;
    max-width: 100rem;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin-inline: auto;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  &__left {
    background-color: #4c0ef7;
    padding: 3rem;
    text-align: left;
    flex: 1;

    &-heading {
      margin-bottom: 4.8rem;
      text-align: left;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 1px;
    }

    p {
      line-height: 1.5;
      font-size: 2rem;
      font-weight: 300;
    }

    i {
      margin-top: 6.4rem;
      font-size: 6.4rem;
    }
  }
}

@media (max-width: 714px) {
  .contact .contact__form-container {
    flex-direction: column;
  }

  .contact .contact__left {
    flex: 0.5;
    position: relative;

    i {
      margin-top: 3.2rem;
      transform: rotate(90deg);
      position: absolute;
      top: -5%;
      right: 10%;
    }
  }
}

@media (max-width: 510px) {
  .contact .contact__left i {
    font-size: 4.2rem;
    top: -1.5%;
    right: 4%;
  }
}
