.projects {
  // padding: 4.8rem 0 8.4rem;
  padding: 8.4rem 0 0 -1rem;
  position: relative;
  width: 100%;
  background: url("../imgs/whitepaint.jpg") center/cover no-repeat fixed;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(6px);
    background: inherit;
    transform: scale(1.2);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;
  }

  .waves {
    margin-bottom: -0.4rem;
  }
}

@media (min-width: 640px) {
  .projects .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .projects .projects__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
