.project {
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
  transition: all 0.3s;

  &:hover {
    transform: rotate(-2deg);
    opacity: 1;
    box-shadow: 0 12px 24px 6px rgba(0, 0, 0, 0.4);
  }

  &__img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
  }

  &__content {
    color: #ddd;
    background-color: #3f3f3fa2;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
    font-weight: 500;

    &--yetichat {
      color: rgba(134, 243, 243, 0.849);
    }

    &--dojo {
      color: rgba(248, 106, 130, 0.863);
    }

    &--jstodos {
      color: rgba(66, 255, 208, 0.863);
    }

    &--qcloud {
      color: rgba(86, 255, 35, 0.863);
    }
  }

  &__desc {
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  &__skills-used {
    margin-bottom: 2rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    span {
      display: inline-block;
      padding: 0.5rem 1.2rem;
      border-radius: 8px;
      color: #fff;
    }

    .span-js {
      background-color: rgba(255, 231, 17, 0.849);
      border: 2px solid rgba(255, 231, 17, 0.849);
    }
    .span-css {
      background-color: rgba(27, 152, 255, 0.849);
      border: 2px solid rgba(27, 152, 255, 0.849);
    }
    .span-html {
      background-color: rgb(233, 105, 0);
      border: 2px solid rgb(233, 105, 0);
    }
    .span-firebase {
      background-color: #f5945cd8;
      border: 2px solid #f5945cd8;
    }
    .span-bootstrap {
      background-color: rgba(129, 75, 255, 0.849);
      border: 2px solid rgba(129, 75, 255, 0.849);
    }
    .span-scss {
      background-color: rgb(236, 27, 219);
      border: 2px solid rgb(236, 27, 219);
    }
    .span-tw {
    }

    .span-react {
      background-color: rgb(3, 190, 236);
      border: 2px solid rgb(3, 190, 236);
    }
  }

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;

    .btn-project {
      font-size: 2rem;
    }
  }
}

@media (min-width: 640px) {
  .project {
    width: 95%;
  }
}
