@use "../abstracts/variables" as var;

.skill {
  position: relative;
  display: grid;
  place-items: center;
  width: 60%;
  height: 17rem;
  border: none;
  border-radius: 8px;
  // background-color: rgba(255, 255, 255, 0.192);
  box-shadow: 0 10px 20px 4px rgba($color: #000000, $alpha: 0.2);
  opacity: 90%;
  transition: all 0.3s ease;

  &__overview {
    border-radius: 8px;
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.25s ease;
    overflow-y: auto;
    opacity: 0;
    line-height: 1.5;
    padding: 1rem 2rem;

    &--html {
      background: rgba(255, 119, 29, 0.952);
    }

    &--js {
      background: linear-gradient(
        to right bottom,
        rgba(255, 231, 17, 0.986),
        rgb(206, 203, 56)
      );
    }

    &--css {
      background: linear-gradient(
        to right bottom,
        rgba(27, 152, 255, 0.849),
        rgb(96, 187, 248)
      );
    }

    &--firebase {
      background: linear-gradient(to right bottom, #f5945cd8, rgb(255, 230, 0));
    }

    &--scss {
      background: linear-gradient(
        to right bottom,
        rgba(244, 135, 248, 0.849),
        rgb(236, 27, 219)
      );
    }

    &--tailwind {
      background: linear-gradient(
        to right bottom,
        rgba(94, 231, 213, 0.849),
        rgb(13, 216, 243)
      );
    }

    &--bs {
      background: linear-gradient(
        to right bottom,
        rgba(158, 116, 255, 0.849),
        rgb(161, 89, 255)
      );
    }

    &--react {
      background: linear-gradient(
        to right bottom,
        rgba(0, 183, 255, 0.938),
        rgb(72, 183, 235)
      );
    }

    &--git {
      background: linear-gradient(
        to right bottom,
        rgba(247, 99, 62, 0.849),
        rgb(238, 108, 91)
      );
    }

    &--npm {
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 254, 1)
      );
    }

    &--mysql {
      background: linear-gradient(
        to right bottom,
        rgba(255, 201, 131, 0.8),
        rgb(255, 165, 91)
      );
    }
  }

  &:hover {
    transform: scale(1.2) !important;
  }

  &:hover .skill__overview {
    opacity: 1;
    height: 100%;
  }

  img {
    height: 8rem;
  }

  .npm {
    height: 5rem;
  }

  &__banner {
    color: #fff;

    position: absolute;
    padding: 1rem 2rem;
    top: 73%;
    font-size: 2rem;
    font-weight: 600;
    opacity: 1;

    &--html {
      background: linear-gradient(
        to right bottom,
        rgba(253, 162, 26, 0.849),
        rgb(192, 124, 22)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--js {
      background: linear-gradient(
        to right bottom,
        rgba(255, 231, 17, 0.849),
        rgb(206, 203, 56)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--css {
      background: linear-gradient(
        to right bottom,
        rgba(27, 152, 255, 0.849),
        rgb(96, 187, 248)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--firebase {
      background: linear-gradient(to right bottom, #f5945cd8, rgb(255, 230, 0));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--scss {
      background: linear-gradient(
        to right bottom,
        rgba(244, 135, 248, 0.849),
        rgb(236, 27, 219)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--tailwind {
      background: linear-gradient(
        to right bottom,
        rgba(94, 231, 213, 0.849),
        rgb(13, 216, 243)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--bootstrap {
      background: linear-gradient(
        to right bottom,
        rgba(76, 0, 255, 0.849),
        rgb(94, 23, 187)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--react {
      background: linear-gradient(
        to right bottom,
        rgba(0, 183, 255, 0.849),
        rgb(72, 183, 235)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--git {
      background: linear-gradient(
        to right bottom,
        rgba(247, 99, 62, 0.849),
        rgb(184, 22, 1)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--mysql {
      background: linear-gradient(
        to right bottom,
        rgba(255, 201, 131, 0.8),
        rgb(241, 130, 66)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.skill__border {
  // border-width: 3px;
  // border-style: solid;
  transition: all 0.3 ease;
}

// breakpoints used: 440px 680px, 864px, 1200px
@media (min-width: 680px) {
  .skill {
    width: 100%;
  }
}
