@use "../abstracts/variables" as var;

.skill {
  position: relative;
  display: grid;
  place-items: center;
  width: 60%;
  height: 17rem;
  border: none;
  border-radius: 8px;
  // background-color: rgba(255, 255, 255, 0.192);
  box-shadow: 0 10px 20px 4px rgba($color: #000000, $alpha: 0.2);
  opacity: 90%;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2) !important;
  }

  img {
    height: 10rem;
  }

  &:hover {
    & .skill__banner {
      display: inline-block;
      opacity: 1;
      transform: translateY(100%);
    }
  }

  &__banner {
    color: #fff;

    position: absolute;
    padding: 1rem 3rem;
    top: 45%;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0;
    transition: all 0.3s;

    &--html {
      background: linear-gradient(
        to right bottom,
        rgba(rgba(253, 162, 26, 0.849), 0.85),
        rgba(rgb(192, 124, 22), 0.85)
      );
    }
    &--js {
      background: linear-gradient(
        to right bottom,
        rgba(rgba(255, 231, 17, 0.849), 0.85),
        rgba(rgb(206, 203, 56), 0.85)
      );
    }
    &--css {
      background: linear-gradient(
        to right bottom,
        rgba(rgba(27, 152, 255, 0.849), 0.85),
        rgba(rgb(96, 187, 248), 0.85)
      );
    }
    &--firebase {
      background: linear-gradient(
        to right bottom,
        rgba(#f5945cd8, 0.85),
        rgba(rgb(255, 230, 0), 0.85)
      );
    }
    &--scss {
      background: linear-gradient(
        to right bottom,
        rgba(rgba(244, 135, 248, 0.849), 0.85),
        rgba(rgb(236, 27, 219), 0.85)
      );
    }
    &--tailwind {
      background: linear-gradient(
        to right bottom,
        rgba(rgba(78, 228, 255, 0.849), 0.85),
        rgba(rgb(13, 216, 243), 0.85)
      );
    }
    &--bootstrap {
      background: linear-gradient(
        to right bottom,
        rgba(rgba(129, 75, 255, 0.849), 0.85),
        rgba(rgb(120, 57, 202), 0.85)
      );
    }
  }
}

.skill__border {
  // border-width: 3px;
  // border-style: solid;
  transition: all 0.3 ease;
}

// breakpoints used: 440px 680px, 864px, 1200px
@media (min-width: 680px) {
  .skill {
    width: 100%;
  }
}
