.secondary-heading {
  font-weight: 300;
  text-align: center;
  font-size: 4.8rem;
  letter-spacing: 0.7px;
  margin-bottom: 5.6rem;
}

.neon-orange {
  color: #fb4264;
  line-height: 6vw;
  text-shadow: 0 0 3vw #f40a35;
}

.neon-blue {
  color: hsl(216, 100%, 81%);
  line-height: 6vw;
  text-shadow: 0 0 3vw #2784ff;
}
