.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.mr-small {
  margin-right: 1.2rem;
}

.mb-large {
  margin-bottom: 6.4rem;
}
